Package: com.pookjw.saeenabler
Name: SAEEnabler
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Tweaks
Depends: firmware (>= 18.0), mobilesubstrate (>= 0.9.5000)
